<div class="container-flui footer">

     <div class="row">

          <div class="col-lg-6">
          
          <h1>Nutri Aqui </h1>

        </div>
        <div class="col-4">
          <a routerLink="">Home </a>
          <a routerLink="menu">Menu </a>
          <a routerLink="about">Sobre </a>
          <a routerLink="contact">Contato </a>
            
          </div>

          <div class="col-2">
            <a href=""target="_blank"></a>
           
    </div>
</div>